/node_modules
/public/build
/public/hot
/public/storage/*
/storage/*.key
/vendor
/public/siswa
/public/inventaris
/public/pendaftar
keuangan-system-tailwind-master.zip
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
mysql.session.sql
agil.txt
app.js
dicoding_network_agil.zip